span.wpml-nodis { 
    display:none !important; 
}

span.wpml-rtl { 
    unicode-bidi:bidi-override !important; 
    direction:rtl !important; 
    display:inline !important; 
}

span.wpmt-nrtl { 
    word-break: break-all !important;
}

.wpml-encoded { 
    position:relative; 
    margin-top:-0.3em; 
    z-index:1000; 
    color:green; 
}